.chatInfo {
  flex: 0.385;
  padding: 6px 0 0 15px;
  height: 100vh;
  overflow: scroll;
}

.chatInfo > p {
  text-align: center;
  margin: 10px 0 50px 0;
  font-weight: 500;
  font-size: 20px;
}

.chatInfo > .MuiAvatar-root {
  left: 40%;
  width: 80px;
  height: 80px;
}

.chatInfo__details > div {
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  margin: 25px 0;
}
