.chatInfo {
  flex: 0.385;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.chatInfo__roomName {
  text-align: center;
  margin: 24px;
  font-weight: 500;
  font-size: 20px;
}

.chatInfo > .MuiAvatar-root {
  left: 39%;
  width: 80px;
  height: 80px;
  top: 16px;
}

.chatInfo__details > p {
  font-weight: 500;
  cursor: pointer;
  margin: 8px 0;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
}

.chatInfo__arrow {
  width: 8%;
  color: gray;
}

.chatInfo__details > p:hover {
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
}

@media (max-width: 750px) {
  .chatInfo {
    flex: 1;
  }
}
