.chatInfo {
  flex: 0.385;
  height: 100vh;
  overflow: scroll;
}

.chatInfo__roomName {
  text-align: center;
  margin: 26px 0 30px 0;
  font-weight: 500;
  font-size: 20px;
}

.chatInfo > .MuiAvatar-root {
  left: 39%;
  width: 80px;
  height: 80px;
  top: 16px;
}

.chatInfo__details > p {
  font-weight: 500;
  cursor: pointer;
  margin: 14px 0;
  padding: 8px 10px;
}

.chatInfo__details > p:hover {
  background-color: rgb(243, 243, 243);
  width: 92%;
  border-radius: 5px;
}
